/* -------------------------------------------- */
/* body */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --gap: 0.75rem;
  --white: #fffffe;
  --black: #121212;
  --transition: all 0.3s ease;
  --blur: blur(1rem) saturate(180%);
  --shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--white);
  font-family: "poppins";
  background-size: cover;
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top left, red, blue);
}
html,
body {
  width: 100%;
}
.base {
  display: flex;
  gap: var(--gap);
  padding: var(--gap);
  margin: 2rem 1.5rem;
  flex-direction: column;
}
p {
  color: var(--white);
}
/* body */
/* -------------------------------------------- */
